@import "@/styles/colors.module.scss";

.ctaSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 6px 0px;
  background-color: $lightRed;

  .imgCta {
    width: 20px;
    height: auto;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 20px;

  .imgLogoNav {
    width: 180px;
    height: auto;
  }

  .navBtn {
    margin: 0px 5px;
    color: $lightGray;
    border-color: transparent;

    &:hover {
      border-color: $lightRed;
      color: #ffffff;
    }
  }
}

@media (max-width: 443px) {

  .ctaSection {
    gap: 10px;
  }

  .nav {
    justify-content: center;

    .navBtn {
      margin: 16px 10px;
      border-color: #ffffff;
      font-size: 14px;
    }
  }
}