@import "@/styles/colors.module.scss";
@import "@/styles/common.module.scss";

.sectionTitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.slideSectionBtn {
  @extend .commonButton
}