@import "@/styles/colors.module.scss";

.slide {
  width: 280px;
  height: 308px;
  border: 1px solid $darkGray;
  cursor: pointer;
  overflow: hidden;
  text-overflow: clip;
  transition: .4s;

  &:hover {
    border-color: $lightRed;
    height: 330px;
  }
}

.slideImg {
  width: 100%;
  height: 170px;
}

.slideTitle {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  padding: 10px;
}

.slideDescription {
  font-size: 14px;
  color: $mediumGray;
  padding: 0 16px;
}